server:
    socket: /var/run/myza/server.sock
    confirmation: XXXXXXXX
    api:
        token: XXX
    cache:
      enabled: true
      ttl: 1000000000
    pathprefix: /
    vkoauth:
        // redirect uri path of your app
        vkpath: vk_auth
        ClientId: 12345
        ClientSecret: secret
        RedirectUri: https://your.app
        CookieTtl: 1h // cookie ttl is a 1 hour (delete cause increase it to 1 year)
    yaoauth:
        path: ya_auth
